<section class='container main-header'>
  <h2>Order Total : {{findTotal()}}</h2>
</section>
<table class='container'>
  <thead>
    <th>Product</th>
    <th>Quantity</th>
    <th>Subtotal</th>
    <th></th>
  </thead>
  <tbody>
    <tr ng-repeat='item in vw.bag | name:vw.searchName | category:vw.searchCategory'>
      <td>
        <h3>{{item.name}}</h3>
        <img ng-src='{{item.imageUrl}}'/>
        <h5>Price : <small>{{item.price/100 | currency}}</small></h5>
        <h5>Caffeine Scale : <small>{{item.caffeineScale}}</small></h5>
        <h5>Ingredients : <small>{{item.ingredients}}</small></h5>
        <h5>Rating : <small>{{item.rating}}</small></h5>
      </td>
      <td>
        <h5>{{item.quantity}}</h5>
        <select></select>
      </td>
      <td>
        {{findSubtotal(item) | currency }}
      </td>
      <td>
        <button>Edit</button>
        <button>Remove</button>
      </td>
    </tr>
  </tbody>
</table>
