<section class='container main-header'>
  <h2>Order Total : {{findTotal() | currency}}</h2>
</section>
<table class='container'>
  <thead>
    <th>Product</th>
    <th class='quantity'>Quantity</th>
    <th class='subtotal'>Subtotal</th>
    <th></th>
  </thead>
  <tbody>
    <tr ng-repeat='item in vw.bag | name:vw.searchName | category:vw.searchCategory'>
      <td>
        <h3>{{item.name}}</h3>
        <img ng-src='{{item.imageUrl}}'/>
        <h5>Price : <small>{{item.price/100 | currency}}</small></h5>
        <h5>Caffeine Scale : <small>{{item.caffeineScale}}</small></h5>
        <h5>Ingredients : <small>{{item.ingredients}}</small></h5>
        <h5>Rating : <small>{{item.rating}}</small></h5>
      </td>
      <td class='quantity'>
        <div ng-hide='item.quantitySet'>
          <h5>{{item.quantity}}</h5>
        </div>
        <div ng-show='item.quantitySet'>
          <select ng-model='item.quantity'>
            <option value='1' selected>1</option>
            <option value='2'>2</option>
            <option value='3'>3</option>
            <option value='4'>4</option>
            <option value='5'>5</option>
          </select>
        </div>
      </td>
      <td class='subtotal'>
        {{findSubtotal(item) | currency }}
      </td>
      <td class='bag-buttons'>
        <button class='btn yellow-btn' ng-hide='item.quantitySet' ng-click='toggleQuantity(item)'>Edit</button>
        <button class='btn yellow-btn' ng-show='item.quantitySet' ng-click='toggleQuantity(item)'>Update</button>
        <button ng-click='remove(item)' class='btn remove-btn'>Remove</button>
      </td>
    </tr>
  </tbody>
</table>
