<div>
  <section class='main-header'>
    <form>
      <span>Search by Category :</span>
      <select ng-model='vw.searchCategory'>
        <option ng-repeat='category in vw.categories' value='{{category}}'>
          {{category}}
        </option>
      </select>
      <label for='search'>Search by name :</label>
      <input type='text' name='search' ng-model='vw.searchName'/>
    </form>
    <a id='checkout-link' class='btn' href='/checkout'>Checkout | Bag {{vw.bag | bagFilter}}</a>
  </section>
  <table>
    <thead>
      <th>Tea</th>
      <th>Information</th>
      <th class='th-sort'>Sort by price :
        <select>
          <option>Low to High</option>
          <option>High to Low</option>
        </select>
      </th>
    </thead>
    <tbody>
      <tr ng-repeat='item in vw.teas | name:vw.searchName | category:vw.searchCategory'>
        <td class='tea-image'>
          <img ng-src='{{item.imageUrl}}'/>
        </td>
        <td>
          <h3>{{item.name}}</h3>
          <h5>Price : <small>{{item.price/100 | currency}}</small></h5>
          <h5>Caffeine Scale : <small>{{item.caffeineScale}}</small></h5>
          <h5>Ingredients : <small>{{item.ingredients}}</small></h5>
          <h5>Rating : <small>{{item.rating}}</small></h5>
          <h5>In Stock? <small>{{item.inStock | inStock}}</small></h5>
          <h5>Categories :</h5>
          <ul>
            <li ng-repeat='category in item.categories'>{{category}}</li>
          </ul>
        </td>
        <td class='td-quantity'>
          <span>Quantity :</span>
          <select ng-model='quantity'>
            <option value='1' selected>1</option>
            <option value='2'>2</option>
            <option value='3'>3</option>
            <option value='4'>4</option>
            <option value='5'>5</option>
          </select>
          <button ng-click='vw.add(item, quantity)' class='btn add-button'>Add to Bag</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
